<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('includes/head') %>
    <link rel="stylesheet" href="/styles/index.css" />
    <link rel="stylesheet" href="/styles/shared.css" />
  </head>
  <body>
    <%- include('includes/header') %>
    <% - include('includes/sideAside') %>
    <main>
      <h1>Make the world a tastier place!</h1>
      <p>
        Share your favorite restaurants or find recommendations of other users!
      </p>
      <h2>Explore the unexplored!</h2>
      <ul id="actions">
        <li>
          <a  href="/restaurants">Browse Restaurants</a>
        </li>
        <li id="share">
          <a href="/recommend">Share Your Favourite Restaurant</a>
        </li>
      </ul>
    </main>
  </body>
</html>