main {
    max-width: 40rem;
  }
  
  #restaurants-list {
    list-style: none;
    margin: 2rem 0;
    padding: 0;
  }
  
  .restaurant-item {
    margin: 1rem 0;
    padding: 1rem;
    border-radius: 4px;
    box-shadow: 2px 2px 1px 3px rgb(111, 103, 103);
    background-color:#ac9494;
    color: #fbe5e5;
    text-align: left;
  }
  
  .restaurant-item h2 {
    font-family: 'Roboto Condensed', 'Roboto', sans-serif;
    font-size: 1.25rem;
    margin: 0.25rem 0;
  }
  
  .restaurant-item p {
    margin: 0.2rem 0;
    color: #ffdfdf;
  }
  
  .restaurant-meta {
    margin-bottom: 0.5rem;
  }
  
  .restaurant-meta p {
    color: #fdd7d7;
  }
  
  .restaurant-actions {
    margin-top: 1rem;
    text-align: right;
  }
  
  .restaurant-actions a ,
  .btn{
    padding: 0.5rem 0.8rem;
    background-color: #b28787;
    border-radius: 6px;
    color: white;
    text-decoration: none;
    cursor: pointer;
    border: none;
    box-shadow: 2px 1px 1px rgb(36, 36, 36);
    border: 1px  solid rgb(0, 0, 0);
  }

  
  .restaurant-actions a:hover,
  .restaurant-actions a:active,
  .btn:hover {
    background-color:#776464;

  }